@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: #ffffff;
    --foreground: #222222;
    --card: #ffffff;
    --card-foreground: #222222;
    --popover: #ffffff;
    --popover-foreground: #222222;
    --primary: #b2741d;
    --primary-foreground: #fafafa;
    --secondary: #f5f5f5;
    --secondary-foreground: #171717;
    --muted: #f5f5f5;
    --muted-foreground: #737373;
    --accent: #f5f5f5;
    --accent-foreground: #171717;
    --destructive: #d72638;
    --destructive-foreground: #fafafa;
    --border: #e5e5e5;
    --input: #e5e5e5;
    --ring: #0a0a0a;
    --chart-1: #d45500;
    --chart-2: #2b9f9f;
    --chart-3: #3a5f7f;
    --chart-4: #a3d900;
    --chart-5: #ffb300;
    --radius: 0.5rem;
  }
}
@layer base {
  * {
    @apply scroll-smooth border-border;
  }
  body {
    @apply box-border inline-block h-screen w-full bg-background text-foreground antialiased;
  }
  .font-header {
    @apply text-[1rem] font-bold md:text-[1.5rem] lg:text-[1.75rem] xl:text-[2rem];
  }
}
